<a href="https://colab.research.google.com/github/AmoghDarekar/DataVizFall2020_Colab/blob/master/HW_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
db = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"

In [9]:
covid1 = pd.read_csv(db)

In [10]:
covid1.head(10)

         date       county       state     fips  cases  deaths
0  2020-01-21    Snohomish  Washington  53061.0      1       0
1  2020-01-22    Snohomish  Washington  53061.0      1       0
2  2020-01-23    Snohomish  Washington  53061.0      1       0
3  2020-01-24         Cook    Illinois  17031.0      1       0
4  2020-01-24    Snohomish  Washington  53061.0      1       0
5  2020-01-25       Orange  California   6059.0      1       0
6  2020-01-25         Cook    Illinois  17031.0      1       0
7  2020-01-25    Snohomish  Washington  53061.0      1       0
8  2020-01-26     Maricopa     Arizona   4013.0      1       0
9  2020-01-26  Los Angeles  California   6037.0      1       0

In [11]:
covid1.nunique()

date        234
county     1923
state        55
fips       3205
cases     16027
deaths     2381
dtype: int64

In [12]:
covid1['fips'].value_counts()

53061.0    234
17031.0    231
6059.0     230
4013.0     229
6037.0     229
          ...
20199.0     18
31103.0     17
31115.0     15
35011.0      1
49009.0      1
Name: fips, Length: 3205, dtype: int64

In [13]:
B_f = covid1[(covid1['county']=='Bristol') & (covid1['state']=='Massachusetts')]['fips'].unique()[0].astype('int')
S_f = covid1[(covid1['county']=='Suffolk') & (covid1['state']=='Massachusetts')]['fips'].unique()[0].astype('int')
print(f'B_f = {B_f}')
print(f'S_f = {S_f}')

B_f = 25005
S_f = 25025

In [14]:
covid1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 521534 entries, 0 to 521533
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    521534 non-null  object
 1   county  521534 non-null  object
 2   state   521534 non-null  object
 3   fips    516515 non-null  float64
 4   cases   521534 non-null  int64
 5   deaths  521534 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 23.9+ MB

In [15]:
covid1.describe()

                fips          cases         deaths
count  516515.000000  521534.000000  521534.000000
mean    31112.210654     905.890617      35.717286
std     16245.368054    5865.388093     400.523564
min      1001.000000       0.000000       0.000000
25%     18159.000000      13.000000       0.000000
50%     29181.000000      69.000000       1.000000
75%     46085.000000     334.000000       8.000000
max     78030.000000  251024.000000   23744.000000

In [16]:
covid1['county']

0          Snohomish
1          Snohomish
2          Snohomish
3               Cook
4          Snohomish
             ...
521529    Sweetwater
521530         Teton
521531         Uinta
521532      Washakie
521533        Weston
Name: county, Length: 521534, dtype: object

In [ ]:
covid1[0:3]

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0

In [ ]:
covid1.loc[:, ['county','fips']]

            county     fips
0        Snohomish  53061.0
1        Snohomish  53061.0
2        Snohomish  53061.0
3             Cook  17031.0
4        Snohomish  53061.0
...            ...      ...
521529  Sweetwater  56037.0
521530       Teton  56039.0
521531       Uinta  56041.0
521532    Washakie  56043.0
521533      Weston  56045.0

[521534 rows x 2 columns]

In [ ]:
covid1.iloc[3]

date      2020-01-24
county          Cook
state       Illinois
fips           17031
cases              1
deaths             0
Name: 3, dtype: object

In [19]:
covid1[covid1['county']=='Bristol']

              date   county          state     fips  cases  deaths
2093    2020-03-14  Bristol  Massachusetts  25005.0      1       0
2494    2020-03-15  Bristol  Massachusetts  25005.0      1       0
2943    2020-03-16  Bristol  Massachusetts  25005.0      2       0
3444    2020-03-17  Bristol  Massachusetts  25005.0      5       0
4026    2020-03-18  Bristol  Massachusetts  25005.0      5       0
...            ...      ...            ...      ...    ...     ...
514226  2020-09-08  Bristol   Rhode Island  44001.0    358      16
516288  2020-09-09  Bristol  Massachusetts  25005.0   9418     668
517461  2020-09-09  Bristol   Rhode Island  44001.0    369      16
519523  2020-09-10  Bristol  Massachusetts  25005.0   9448     670
520697  2020-09-10  Bristol   Rhode Island  44001.0    369      16

[351 rows x 6 columns]

In [25]:
def get_county(covid1,fips):
  result= covid1(covid1['fips'] == fips)[['date','county','state', 'cases','deaths']].copy()
  result.set_index ('date',inplace=True)
  result.index = pd.to_datetime(result.index)
  return result
  get_county (covid1,'B_f').head()