<a href="https://colab.research.google.com/github/AmoghDarekar/DataVizFall2020_Colab/blob/master/HW_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
db = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"

In [ ]:
covid1 = pd.read_csv(db)

In [29]:
covid1.head(10)

         date       county       state     fips  cases  deaths
0  2020-01-21    Snohomish  Washington  53061.0      1       0
1  2020-01-22    Snohomish  Washington  53061.0      1       0
2  2020-01-23    Snohomish  Washington  53061.0      1       0
3  2020-01-24         Cook    Illinois  17031.0      1       0
4  2020-01-24    Snohomish  Washington  53061.0      1       0
5  2020-01-25       Orange  California   6059.0      1       0
6  2020-01-25         Cook    Illinois  17031.0      1       0
7  2020-01-25    Snohomish  Washington  53061.0      1       0
8  2020-01-26     Maricopa     Arizona   4013.0      1       0
9  2020-01-26  Los Angeles  California   6037.0      1       0

In [30]:
covid1.nunique()

date        233
county     1921
state        55
fips       3203
cases     15918
deaths     2375
dtype: int64

In [31]:
covid1['fips'].value_counts()

53061.0    233
17031.0    230
6059.0     229
4013.0     228
6037.0     228
          ...
31113.0     22
20199.0     17
20153.0     17
31103.0     16
31115.0     14
Name: fips, Length: 3203, dtype: int64

In [ ]:
B_f = covid1[(covid1('county')=='Bristol') & (covid1('state')=='Massachusetts')]['fips'].unique()[0].astype('int')
S_f = covid1[(covid1('county')=='Suffolk') & (covid1('state')=='Massachusetts')]['fips'].unique()[0].astype('int')
print(f'B_f = {B_f}')
print(f'S_f = {S_f}')